*{margin:0;padding: 0;}
a {text-decoration: none;}

kbd{border:1px solid red;width:4em;height: 4em;display: inline-block;
    text-transform: capitalize;position:relative;}
kbd>button{position: absolute;right: 0;bottom: 0;display: none;}
kbd:hover>button{display: inline-block;}
body{background:grey url(./wall2-min.jpg) no-repeat center center;background-size: cover;}
main{text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main{display: inline-block;}
#main>div:nth-child(2){margin-left: 4px;}
#main>div:nth-child(3){margin-left: -50px;}
.wrapper{
    background:rgba(255,255,255,0.2);
}
.key{width: 50px;height: 40px;background: linear-gradient(to bottom, #2b2b2b 0%,#0a0a0b 100%);
    border:1px solid #313131;color:#D4D4D4;border-radius: 6px;box-shadow: 0 0 0 1px #18191A ,0 0 0 2px #1F2020,0 3px 0 2px #161717;
    position: relative;}
.row{margin:16px;}
.row .key{margin:0 4px;}
.key img{height:16px;width:16px;position: absolute;left:4px;bottom:0px;}
.key .text{position:absolute;left:4px;top:0px;font-size: 20px;font-family: Helvertica;}   
